<!-- <p>header works!</p> -->
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>

    <span background-color="blue">Technovate Infotech</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon logout-icon" aria-label="Example icon-button with logout icon">
        <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with sha icon">
        <mat-icon>share
        </mat-icon>
    </button>

</mat-toolbar>
